@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}



/* layout */
body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.25;
}

header {
    width: 100%;
    height: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.055);
    position: relative;
}

.innerHeader .util ul {
    width: 218px;
    height: 100%;
    float: left;
    line-height: 90px;
    margin-left: 9%;
}

.innerHeader .util ul li {
    float: left;
    padding: 0 10px;
}

.innerHeader .logo {
    width: 270px;
    line-height: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.innerHeader .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.contents {
    width: 270px;
    float: right;
}

.contents a {
    display: block;
    float: left;
    margin-top: 23px;
    padding: 10px 20px;
    border: 1px solid #ddd;
}